<html>
<head>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="container">
        <h4>Cat Gif of the day</h4>
        <img src="{{url}}"" />
        <p><small>Courtesy: <a href="https://giphy.com/explore/cat">GIPHY</a></small></p>
        <p>Delivered to you by container {{hostname}}<p>
    </div>
</body>
</html>